@using FinalSite.Models.Home;
@using FinalSite.DAL;
@model IEnumerable<FinalSite.Models.Home.Item>
@using Microsoft.AspNet.Identity

@if (Session["cart"] == null)
    {
        <div class="alert alert-danger">
            <strong>Ningún producto agregado</strong>
        </div>
    }

else
{

<table class="table table-bordered table-responsive-md table-hover">
    <thead>
        <tr>
            <th>Producto</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Sub total</th>
        </tr>
    </thead>
    <tbody>
        @{
            int Total = 0;
            
        }

        @foreach (Item item in (List<Item>)Session["cart"])
        {
            int lineTotal = Convert.ToInt32(item.cantidad * item.producto.precio);
            Total = Convert.ToInt32(@Total + lineTotal);
            <tr>
                <td>@item.producto.nombre_producto</td>
                <td>@string.Format("{0:n2}", item.producto.precio)</td>
                <td>@item.cantidad</td>
                <td>@lineTotal</td>
            </tr>
        }

        <tr>
            <td colspan="4" class="text-right" id="Value"><b>S./ @string.Format("{0:n2}", Total)</b></td>
        </tr>
    </tbody>
</table>
@*<button id="buy" class="btn btn-dark">Pagar S./ @string.Format("{0:n2}", Total) >></button>*@
<a class="btn btn-dark" href="@Url.Action("RealizarPagoList","Productos")">Pagar S./ @string.Format("{0:n2}", Total)>></a>

}
