@model IEnumerable<FinalSite.DAL.BusinessPartner>

@{
    ViewBag.Title = "AllBP";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>AllBP</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RUC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.razon_social)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_alta)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RUC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.razon_social)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_alta)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdBusinessPartner }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdBusinessPartner }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdBusinessPartner })
        </td>
    </tr>
}

</table>
