@model IEnumerable<FinalSite.DAL.Categoria>

@{
    ViewBag.Title = "AllCategories";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2 class="text-center">Categorías</h2>


<table class="table  table-striped table-responsive table-hover">
    <tr>
        <th>
            Categoría
        </th>
        <th>
            Grupo
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion_categoria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.grupo)
        </td>
        <td class="d-none">
            @Html.ActionLink("Edit", "Edit", new { id=item.IdCategoria }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdCategoria }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdCategoria })
        </td>
    </tr>
}

</table>
