@model FinalSite.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "¿Olvidó su contraseña?";
}


    <div class="row">
        
        <div class="text-center offset-3 col-md-6 col-sm-6 col-lg-6 col-xs-6">
            <h4 class="text-center">@ViewBag.Title</h4>
            <hr />
            <div class="text-center">
                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h5 class="text-center">Ingrese su correo</h5>

                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        
                        <div class="text-center col-md-12">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="text-center col-md-12">
                            <input type="submit" class="btn btn-dark" value="Enviar Link" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
