@using FinalSite.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";

}

<h2 class="text-center">@ViewBag.Title.</h2>
<div class="container">
    <div class="row">
        <div class="col-lg-2 col-xl-2 col-md-2">

        </div>
        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-xs-12">

            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4 class="text-center">Use su cuenta para iniciar sesión.</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-4 control-label" })
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-4 control-label" })
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                        <input type="submit" value="Iniciar sesión" class="btn btn-dark" />
                    </div>
                </div>
                
                    <p>
                        @Html.ActionLink("¿Olvidó su contraseña?", "ForgotPassword")
                    </p>
            }

        </div>
        <div class="col-lg-2 col-xl-2 col-md-2">

        </div>

    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}